<div class="container-fluid" id="search">
  <div class="d-grid gap-4">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="어디로 떠
나실래요?" aria-label="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <br>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="지역으로 찾아보세요!" aria-label="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Mountain</h3>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title"><a href="/posts">Community</a></h3>
      </div>

      <div class="feature-box col-lg-4">
        <a href="/posts" i class="icon fas fa-heart fa-4x"></i></a>
        <h3 class="feature-title">Bookmark</h3>
      </div>
    </div>


  </div>
</section>